.Container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: bisque;
  padding: 40px;
  border-radius: 5px;
}

.Container h1 {
  text-align: center;
  font-size: 30px;
  padding: 5px 10px;
}

.Container button {
  border: 2px solid green;
  padding: 5px 10px;
  transition: all 0.3s;
}
.Container button:active {
  transform: translateY(3px);
}
